[MASTER]

[MESSAGES CONTROL]
disable=E0401,  # Unable to import module
        C0301,  # Line too long
        C0103,
        W0122,
        C2801,
        R0903,
        W0603,
        W0602,
        R0801,
        E1101
